{% extends 'base.html.twig' %}

{% block title %}
    ADMINISTRACIÓN TRIBUTARIA
{% endblock %}
{% block stylesheets %}
    <style>
    .hidden-text {
    visibility: hidden;
    position: absolute;
    left: -9999px;
}
</style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {# base.html.twig #}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
        <script>
       $(document).ready(function() {
            $('#usuarios').DataTable({
                language: { url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json' }, 
                columnDefs: [
                    { targets: [3,4], visible: false, searchable: true }
                ],
                pageLength: 10,
                responsive: true
            });
        });


    </script>
    {% endblock %}

    {% block body %}
        <div class="d-flex">
            <!-- Sidebar -->
            {% include "menu.html.twig" with {'item':0} %}
            <div class="p-4" style="flex-grow: 1;">
                {% block cuerpo %}
                    <h1>
                        Registro de Licencias
                    </h1>
                    <p>
                        Se encontraron
                        {{ emitidos|length }}
                        registros.
                    </p>
                    <table id="usuarios" class="display">
                        <thead>
                            <tr>
                                <th>
                                    Acción
                                </th>
                                <th>
                                    RUC
                                </th>
                                <th>
                                    Razon Social
                                </th>
                                <th>
                                    Actividad
                                </th>
                                <th>
                                    Tipo
                                </th>
                                <th>
                                    Nombre Comercial
                                </th>
                                <th>
                                    Direccion
                                </th>
                                <th>
                                    Teléfono
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th style="display:none;">
                                    acervo
                                </th>
                                <th style="display:none;">
                                    denominación
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set sede = 0 %}
                            {% for lic in licencias %}
                                {% if lic.sede.id != sede %}
                                <tr data-actividad="{{ lic.sede.negocio.giro.actividad }}" data-denominacion="{{ lic.sede.tipo.denominacion }}" data-acervo="{{ lic.acervo }}">
                                    <td>
                                        <a href="{{ path('ver-sede',{id: lic.sede.id}) }}" class="btn btn-sm btn-info">
                                            Ver detalle
                                        </a>
                                    </td>
                                    <td>
                                        {{ lic.sede.negocio.ruc }}
                                    </td>
                                    <td>
                                        {{ lic.sede.negocio.razonsocial }}
                                    </td>
                                    <td>
                                        <span>
                                            {{ lic.sede.negocio.giro.actividad }}
                                        </span>
                                    </td>
                                    <td>
                                        <span>
                                            {{ lic.sede.tipo.denominacion }}
                                        </span>
                                    </td>
                                    <td>
                                        {{ lic.sede.nombrenegocio }}
                                    </td>
                                    <td>
                                        {{ lic.sede.tipovia }}
                                        {{ lic.sede.direccion }}
                                    </td>
                                    <td>
                                        {{ lic.sede.celular }}
                                    </td>
                                    <td>
                                        {{ lic.estado == 0 ? 'Sin Firmar' : (lic.estado == 1 ? 'Vigente' : (lic.estado == 2 ? 'Vencido' : '')) }}
                                    </td>
                                    <td style="display:none;">{{lic.acervo}}</td> 
                                    <td style="display:none;">{{lic.sede.tipo.denominacion}}</td> 
                                </tr>
                                {% endif %}
                                
                                
                            {% endfor %}
                        </tbody>
                    </table>

                {% endblock %}
            </div>
        </div>
    {% endblock %}
    