{% extends 'base.html.twig' %}

{% block title %}
    Busqueda de licencias
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="card mb-3 border-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{asset('/img/logo_informe.png')}}" class="img-fluid rounded-start" style="width: 120px;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">MUNICIPALIDAD PROVINCIAL DE LA CONVENCIÓN</h5>
                                <p class="card-text"> Oficina de Administración tributaria</p>
                                <p class="card-text"><small class="text-body-secondary">Sistema de Licencias de Funcionamiento</small></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12 text-center">
                <form method="get" action="{{path('app_licencias')}}" class="text-center">
                    <div class="row">
                        <div class="col-4">
                            <label for="" class="form-label">Buscar por: </label>
                            <input type="radio" class="btn-check" name="forma" id="dni-bus" value="1" autocomplete="off" checked>
                            <label class="btn btn-outline-success" for="dni-bus">DNI</label>
                            <input type="radio" class="btn-check" name="forma" id="ruc-bus" value="2" autocomplete="off">
                            <label class="btn btn-outline-success" for="ruc-bus">RUC</label>
                        </div>
                        <div class="col-6">
                            <div class="mb-3 ">
                                
                                <input type="number" class="form-control" id="id" placeholder="DNI/RUC">
                            </div>
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-primary mb-3">Buscar</button>
                        </div>
                    </div>

                </form>

            </div>
            <div class="col-12 text-center">
                {% if datos is not empty %}
                    <table border="1" cellpadding="5" cellspacing="0">
                        <thead>
                            <tr>
                                <th>RUC</th>
                                <th>Razón Social</th>
                                <th>Nombre Negocio</th>
                                <th>Dirección</th>
                                <th>Tipo Vía</th>
                                <th>Celular</th>
                                <th>Tipo Licencia</th>
                                <th>Resolución</th>
                                <th>Inicio</th>
                                <th>Fin</th>
                                <th>Número</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for fila in datos %}
                                <tr>
                                    <td>{{ fila.ruc }}</td>
                                    <td>{{ fila.razonsocial }}</td>
                                    <td>{{ fila.nombrenegocio }}</td>
                                    <td>{{ fila.direccion }}</td>
                                    <td>{{ fila.tipovia }}</td>
                                    <td>{{ fila.celular }}</td>
                                    <td>{{ fila.tipo == 0 }}</td>
                                    <td>{{ fila.resolucion }}</td>
                                    <td>{{ fila.inicio|date('d/m/Y') }}</td>
                                    <td>{{ fila.fin|date('d/m/Y') }}</td>
                                    <td>{{ fila.numero }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No se encontraron resultados.</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
