<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Licencia Municipal de Funcionamiento</title>
        <style>
            body { font-family: Arial, sans-serif; font-size: 12pt; }
            .encabezado { text-align: center; font-weight: bold; font-size: 14pt; margin-bottom: 20px; }
            .tabla {
                border-collapse: collapse;
                table-layout: fixed; /* Ayuda a mantener las dimensiones estrictas */
                width: 100%;

            }
            .tabla td {
                border: 1px solid white;
                height: 12mm; /* Ajusta este valor según tu necesidad */
                overflow: hidden; /* Evita que el texto extra agrande la fila */
                vertical-align: middle;
            }
            .giro-largo {
                padding-bottom: 3mm;
                font-size: 11px;
                word-break: break-all; /* Más efectivo que word-wrap en PDFs */
                white-space: normal;
            }
            .giro-corto {
                padding-bottom: 6.2mm;
                font-size: 13px;
            }
        </style>

    </head>
    <body>



        <table class="tabla" style="padding-top: 5mm;">
            <tr style="">
                <!-- Se cambió de 8mm a 2mm -->
                <td style="height: 10mm;"></td>
                <td></td>
            </tr>
            <tr>
                <td style="height: 8mm;"></td>
                <td style="font-weight: bold; text-align: right; padding-right: 8mm;">{{ expediente }}</td>
            </tr>
            <tr>
                <td style="width: 135mm;"></td>
                <td style="font-weight: bold; text-align: right; padding-right: 5mm;"><img src="data:image/png;base64,{{ qr }}" alt="QR Licencia" style="width:115px; height:115px;"></td>
            </tr>
        </table>
        <table class="tabla">
            <tr>
                <td style="height: 55mm;"></td>
            </tr>
        </table>

        <table class="tabla" style="table-layout: fixed; border-collapse: collapse;">
            <tr >
                <td style="width: 52mm; padding-left: 48mm; height: 12mm;  "></td>
                <td style=" font-weight: bold; width: 125mm; padding-left: 18mm;" colspan="4">
                    <div style="font-weight: bold;
                        {{ razonSocial|length > 45
                        ? 'font-size: 12px; line-height: 1;'
                        : ' ' }}">
                        {{ razonSocial }}
                    </div>
                </td>
            </tr>
            <tr >
                <td style="width: 52mm;"></td>
                <td style="font-weight: bold;width: 125mm; padding-left: 18mm;" colspan="4">

                    <div style="font-weight: bold;
                        {{ nombresede|length > 45
                        ? 'font-size: 12px; line-height: 1;'
                        : ' ' }}">
                        {{ nombresede }}
                    </div>
                </td>
            </tr>
            <tr >
                <td style="width: 52mm;"></td>
                <td style="font-weight: bold;width: 125mm; padding-left: 18mm;" colspan="4">
                    <div style="font-weight: bold;
                        {{ direccionsede|length > 45
                        ? 'font-size: 12px; line-height: 1;'
                        : ' ' }}">
                        {{ direccionsede }}
                    </div>

                </td>
            </tr>
            <tr >
                <td style="width: 52mm;"></td>
                <td style="font-weight: bold;width: 125mm; padding-left: 18mm;" colspan="3">{{ ruc }} </td>
                <td style="font-weight: bold;"><span style="">&nbsp;&nbsp;{{ area }}M2</span></td>
            </tr>
            <tr >
                <td style="width: 50mm;"></td>

                <td colspan="4" style="width: 125mm;  padding-left: 18mm; ">
                    <div style="font-weight: bold;
                        {{ giro|length > 45
                        ? 'font-size: 12px; line-height: 1;padding-bottom: 0mm '
                        : '' }}">
                        {{ giro }}
                    </div>
                </td>


            </tr>
            <tr >
                <td style="width: 52mm;"></td>
                <td style="font-weight: bold;width: 125mm; padding-left: 18mm;" colspan="4">{{ resolucion }}</td>
            </tr>
            <tr >
                <td style="width: 52mm;"></td>

                <td style="font-weight: bold; padding-left: 18mm; width: 30mm;" colspan="2">
                    <div style="font-weight: bold;
                        display: block;
                        width: 30mm;
                        word-break: break-all;
                        white-space: normal;
                        {{ horario|length > 13
                        ? 'font-size: 12px; line-height: 1.1;'
                        : '' }}">
                        {{ horario }}
                    </div>
                </td>
                <td style="padding-left: 10mm; font-weight: bold; white-space: nowrap; text-align: left;" colspan="3">
                    {{ "now"|date('d') }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ mes }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ "now"|date('Y') }}
                </td>
            </tr>
        </table>



    </body>
</html>
